*{

  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body, 
#root{
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
}


html{
  /* background: #000; */
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.notes{



 
}
.note{
  height: 5rem;
  width: 30rem;
  background: #926565;
  margin: .75rem;
 border-radius: 1rem;

}
